/*========================================
Btn
-feedback form url
https://goo.gl/forms/MQQmWYIqnJu0hNrj2
=========================================*/

/*　中項目
-----------------------------------------*/

/*  小項目  */

/*　c-tpl-btn01
-----------------------------------------*/
.c-tpl-btn01{
	display: inline-block;
	font-family: $font-family--webfont;
	border: none;
	padding: 12px 32px;
	text-align: center;
	color: white;
	background: $color--text;
	line-height: 1.4;
	border-radius: 60px;

			&:hover{
				color: $color--background;
				text-decoration: none;
				filter: brightness(110%);
				transition:0.2s;
			}

}

.c-tpl-btn01--primary{
	@extend .c-tpl-btn01;
	background: $color--primary;
}

.c-tpl-btn01--secondary{
	@extend .c-tpl-btn01;
	background: $color--secondary;
}

.c-tpl-btn01--success{
	@extend .c-tpl-btn01;
	background: $color--success;
}

.c-tpl-btn01--info{
	@extend .c-tpl-btn01;
	background: $color--info;
}

.c-tpl-btn01--textLink{
	@extend .c-tpl-btn01;
	background: $color--textLink;
}

.c-tpl-btn01--warning{
	@extend .c-tpl-btn01;
	background: $color--warning;
}

.c-tpl-btn01--danger{
	@extend .c-tpl-btn01;
	background: $color--danger;
}

.c-tpl-btn01--light{
	@extend .c-tpl-btn01;
	background: $gray-300;
	color: $gray-600;
			&:hover{
				color: $gray-600;
				filter: brightness(102%);
			}
}

.c-tpl-btn01--dark{
	@extend .c-tpl-btn01;
	background: $dark;
}

.c-tpl-btn01--white{
	@extend .c-tpl-btn01;
	color: $color--text;
	background: white;

			&:hover{
				color: $color--text;
			}
}


/*　c-tpl-btn02
-----------------------------------------*/
.c-tpl-btn02{
	display: inline-block;
	padding: 12px 32px;
	text-align: center;
	color: $color--text;
	font-family: $font-family--webfont;
	line-height: 1.4;
	border-radius: 60px;
	border: 1px solid $color--text;

			&:hover{
				color: $color--text;
				text-decoration: none;
				filter: brightness(110%);
				transition:0.2s;
			}

}

.c-tpl-btn02--primary{
	@extend .c-tpl-btn02;
	color: $color--primary;
	border: 1px solid $color--primary;
			&:hover{
				color: $color--primary;
			}
}

.c-tpl-btn02--secondary{
	@extend .c-tpl-btn02;
	color: $color--secondary;
	border: 1px solid $color--secondary;
			&:hover{
				color: $color--secondary;
			}
}

.c-tpl-btn02--success{
	@extend .c-tpl-btn02;
	color: $color--success;
	border: 1px solid $color--success;
			&:hover{
				color: $color--success;
			}
}

.c-tpl-btn02--info{
	@extend .c-tpl-btn02;
	color: $color--info;
	border: 1px solid $color--info;
			&:hover{
				color: $color--info;
			}
}

.c-tpl-btn02--textLink{
	@extend .c-tpl-btn02;
	color: $color--textLink;
	border: 1px solid $color--textLink;
			&:hover{
				color: $color--textLink;
			}
}

.c-tpl-btn02--warning{
	@extend .c-tpl-btn02;
	color: $color--warning;
	border: 1px solid $color--warning;
			&:hover{
				color: $color--warning;
			}
}

.c-tpl-btn02--danger{
	@extend .c-tpl-btn02;
	color: $color--danger;
	border: 1px solid $color--danger;
			&:hover{
				color: $color--danger;
			}
}

.c-tpl-btn02--light{
	@extend .c-tpl-btn02;
	color: $gray-500;
	border: 1px solid $gray-500;
			&:hover{
				color: $gray-500;
			}
}

.c-tpl-btn02--dark{
	@extend .c-tpl-btn02;
	color: $dark;
	border: 1px solid $dark;
			&:hover{
				color: $dark;
			}
}

.c-tpl-btn02--white{
	@extend .c-tpl-btn02;
	border: 0;
}

/*　c-tpl-btn03
-----------------------------------------*/
.c-tpl-btn03{
	display: inline-block;
	font-family: $font-family--webfont;
	padding: 12px 32px;
	text-align: center;
	color: white;
	background: $color--text;
	border-bottom: 3px solid darken($color--text,15%);
	line-height: 1.4;
	border-radius: 60px;

			&:hover{
				color: $color--background;
				text-decoration: none;
				filter: brightness(110%);
				transition:0.2s;
			}

}

.c-tpl-btn03--primary{
	@extend .c-tpl-btn03;
	background: $color--primary;
	border-bottom: 3px solid darken($color--primary,15%);
}

.c-tpl-btn03--secondary{
	@extend .c-tpl-btn03;
	background: $color--secondary;
	border-bottom: 3px solid darken($color--secondary,15%);
}

.c-tpl-btn03--success{
	@extend .c-tpl-btn03;
	background: $color--success;
	border-bottom: 3px solid darken($color--success,15%);
}

.c-tpl-btn03--info{
	@extend .c-tpl-btn03;
	background: $color--info;
	border-bottom: 3px solid darken($color--info,15%);
}

.c-tpl-btn03--textLink{
	@extend .c-tpl-btn03;
	background: $color--textLink;
	border-bottom: 3px solid darken($color--textLink,15%);
}

.c-tpl-btn03--warning{
	@extend .c-tpl-btn03;
	background: $color--warning;
	border-bottom: 3px solid darken($color--warning,15%);
}

.c-tpl-btn03--danger{
	@extend .c-tpl-btn03;
	background: $color--danger;
	border-bottom: 3px solid darken($color--danger,15%);
}

.c-tpl-btn03--light{
	@extend .c-tpl-btn03;
	background: $gray-300;
	color: $gray-600;
	border-bottom: 3px solid darken($gray-300,15%);
			&:hover{
				color: $gray-600;
				filter: brightness(102%);
			}
}

.c-tpl-btn03--dark{
	@extend .c-tpl-btn03;
	background: $dark;
	border-bottom: 3px solid darken($dark,15%);
}

.c-tpl-btn03--white{
	@extend .c-tpl-btn03;
	color: $color--text;
	background: white;
	border-bottom: 3px solid darken(white,15%);

			&:hover{
				color: $color--text;
			}
}

/*　.is-arrow01--right
-----------------------------------------*/
.is-arrow01--right{
	&:after{
				content:"";
				display: inline-block;
				vertical-align: middle;
				width: 8px;
				height: 12px;
				background-image: $arrow01;
				background-size: 8px 12px;
				background-repeat: no-repeat;
				background-position: center center;
				margin-left: 8px;
				transform: translateY(-2px);
	}
	&.c-tpl-btn01--white:after{ background-image: $arrow01--text; }
	&.c-tpl-btn02:after{ background-image: $arrow01--text; }
	&.c-tpl-btn02--primary:after{ background-image: $arrow01--primary; }
	&.c-tpl-btn02--secondary:after{ background-image: $arrow01--secondary; }
	&.c-tpl-btn02--success:after{ background-image: $arrow01--success; }
	&.c-tpl-btn02--info:after{ background-image: $arrow01--info; }
	&.c-tpl-btn02--textLink:after{ background-image: $arrow01--textLink; }
	&.c-tpl-btn02--warning:after{ background-image: $arrow01--warning; }
	&.c-tpl-btn02--danger:after{ background-image: $arrow01--danger; }
	&.c-tpl-btn02--light:after{ background-image: $arrow01--light; }
	&.c-tpl-btn02--dark:after{ background-image: $arrow01--dark; }
	&.c-tpl-btn03--white:after{ background-image: $arrow01--text; }
}

.is-arrow01--right-up{
	@extend .is-arrow01--right;
	&:after{
		transform: rotate(-90deg);
	}
}

.is-arrow01--right-down{
	@extend .is-arrow01--right;
	&:after{
		transform: rotate(90deg);
	}
}

/*　.is-arrow01--left
-----------------------------------------*/
.is-arrow01--left{
	&:before{
				content:"";
				display: inline-block;
				vertical-align: middle;
				width: 8px;
				height: 12px;
				background-image: $arrow01;
				background-size: 8px 12px;
				background-repeat: no-repeat;
				background-position: center center;
				margin-right: 8px;
				transform: translateY(-2px) rotate(-180deg);
	}
	&.c-tpl-btn01--white:before{ background-image: $arrow01--text; }
	&.c-tpl-btn02:before{ background-image: $arrow01--text; }
	&.c-tpl-btn02--primary:before{ background-image: $arrow01--primary; }
	&.c-tpl-btn02--secondary:before{ background-image: $arrow01--secondary; }
	&.c-tpl-btn02--success:before{ background-image: $arrow01--success; }
	&.c-tpl-btn02--info:before{ background-image: $arrow01--info; }
	&.c-tpl-btn02--textLink:before{ background-image: $arrow01--textLink; }
	&.c-tpl-btn02--warning:before{ background-image: $arrow01--warning; }
	&.c-tpl-btn02--danger:before{ background-image: $arrow01--danger; }
	&.c-tpl-btn02--light:before{ background-image: $arrow01--light; }
	&.c-tpl-btn02--dark:before{ background-image: $arrow01--dark; }
	&.c-tpl-btn03--white:before{ background-image: $arrow01--text; }
}

.is-arrow01--left-up{
	@extend .is-arrow01--left;
	&:before{
		transform: rotate(-90deg) translateY(1px);
	}
}

.is-arrow01--left-down{
	@extend .is-arrow01--left;
	&:before{
		transform: rotate(90deg) translateX(-2px);
	}
}


/*　.is-arrow02--right
-----------------------------------------*/
.is-arrow02--right{
	&:after{
				content:"";
				display: inline-block;
				vertical-align: middle;
				width: 16px;
				height: 16px;
				background-image: $arrow02;
				background-size: 16px 16px;
				background-repeat: no-repeat;
				background-position: center center;
				margin-left: 6px;
				transform: translateY(-2px);
	}
	&.c-tpl-btn01--white:after{ background-image: $arrow02--text; }
	&.c-tpl-btn02:after{ background-image: $arrow02--text; }
	&.c-tpl-btn02--primary:after{ background-image: $arrow02--primary; }
	&.c-tpl-btn02--secondary:after{ background-image: $arrow02--secondary; }
	&.c-tpl-btn02--success:after{ background-image: $arrow02--success; }
	&.c-tpl-btn02--info:after{ background-image: $arrow02--info; }
	&.c-tpl-btn02--textLink:after{ background-image: $arrow02--textLink; }
	&.c-tpl-btn02--warning:after{ background-image: $arrow02--warning; }
	&.c-tpl-btn02--danger:after{ background-image: $arrow02--danger; }
	&.c-tpl-btn02--light:after{ background-image: $arrow02--light; }
	&.c-tpl-btn02--dark:after{ background-image: $arrow02--dark; }
	&.c-tpl-btn03--white:after{ background-image: $arrow02--text; }
}

.is-arrow02--right-up{
	@extend .is-arrow02--right;
	&:after{
		transform: rotate(-90deg);
	}
}

.is-arrow02--right-down{
	@extend .is-arrow02--right;
	&:after{
		transform: rotate(90deg);
	}
}

/*　.is-arrow02--left
-----------------------------------------*/
.is-arrow02--left{
	&:before{
				content:"";
				display: inline-block;
				vertical-align: middle;
				width: 16px;
				height: 16px;
				background-image: $arrow02;
				background-size: 16px 16px;
				background-repeat: no-repeat;
				background-position: center center;
				margin-right: 6px;
				transform: translateY(-2px) rotate(-180deg);
	}
	&.c-tpl-btn01--white:before{ background-image: $arrow02--text; }
	&.c-tpl-btn02:before{ background-image: $arrow02--text; }
	&.c-tpl-btn02--primary:before{ background-image: $arrow02--primary; }
	&.c-tpl-btn02--secondary:before{ background-image: $arrow02--secondary; }
	&.c-tpl-btn02--success:before{ background-image: $arrow02--success; }
	&.c-tpl-btn02--info:before{ background-image: $arrow02--info; }
	&.c-tpl-btn02--textLink:before{ background-image: $arrow02--textLink; }
	&.c-tpl-btn02--warning:before{ background-image: $arrow02--warning; }
	&.c-tpl-btn02--danger:before{ background-image: $arrow02--danger; }
	&.c-tpl-btn02--light:before{ background-image: $arrow02--light; }
	&.c-tpl-btn02--dark:before{ background-image: $arrow02--dark; }
	&.c-tpl-btn03--white:before{ background-image: $arrow02--text; }
}

.is-arrow02--left-up{
	@extend .is-arrow02--left;
	&:before{
		transform: rotate(-90deg) translateY(1px);
	}
}

.is-arrow02--left-down{
	@extend .is-arrow02--left;
	&:before{
		transform: rotate(90deg) translateX(-2px);
	}
}

/*　.is-arrow03--right
-----------------------------------------*/
.is-arrow03--right{
	&:after{
				content:"";
				display: inline-block;
				vertical-align: middle;
				width: 16px;
				height: 16px;
				background-image: $arrow03;
				background-size: 16px 16px;
				background-repeat: no-repeat;
				background-position: center center;
				margin-left: 6px;
				transform: translateY(-2px);
	}
	&.c-tpl-btn01--white:after{ background-image: $arrow03--text; }
	&.c-tpl-btn02:after{ background-image: $arrow03--text; }
	&.c-tpl-btn02--primary:after{ background-image: $arrow03--primary; }
	&.c-tpl-btn02--secondary:after{ background-image: $arrow03--secondary; }
	&.c-tpl-btn02--success:after{ background-image: $arrow03--success; }
	&.c-tpl-btn02--info:after{ background-image: $arrow03--info; }
	&.c-tpl-btn02--textLink:after{ background-image: $arrow03--textLink; }
	&.c-tpl-btn02--warning:after{ background-image: $arrow03--warning; }
	&.c-tpl-btn02--danger:after{ background-image: $arrow03--danger; }
	&.c-tpl-btn02--light:after{ background-image: $arrow03--light; }
	&.c-tpl-btn02--dark:after{ background-image: $arrow03--dark; }
	&.c-tpl-btn03--white:after{ background-image: $arrow03--text; }
}

.is-arrow03--right-up{
	@extend .is-arrow03--right;
	&:after{
		transform: rotate(-90deg);
	}
}

.is-arrow03--right-down{
	@extend .is-arrow03--right;
	&:after{
		transform: rotate(90deg);
	}
}

/*　.is-arrow03--left
-----------------------------------------*/
.is-arrow03--left{
	&:before{
				content:"";
				display: inline-block;
				vertical-align: middle;
				width: 16px;
				height: 16px;
				background-image: $arrow03;
				background-size: 16px 16px;
				background-repeat: no-repeat;
				background-position: center center;
				margin-right: 6px;
				transform: translateY(-2px) rotate(-180deg);
	}
	&.c-tpl-btn01--white:before{ background-image: $arrow03--text; }
	&.c-tpl-btn02:before{ background-image: $arrow03--text; }
	&.c-tpl-btn02--primary:before{ background-image: $arrow03--primary; }
	&.c-tpl-btn02--secondary:before{ background-image: $arrow03--secondary; }
	&.c-tpl-btn02--success:before{ background-image: $arrow03--success; }
	&.c-tpl-btn02--info:before{ background-image: $arrow03--info; }
	&.c-tpl-btn02--textLink:before{ background-image: $arrow03--textLink; }
	&.c-tpl-btn02--warning:before{ background-image: $arrow03--warning; }
	&.c-tpl-btn02--danger:before{ background-image: $arrow03--danger; }
	&.c-tpl-btn02--light:before{ background-image: $arrow03--light; }
	&.c-tpl-btn02--dark:before{ background-image: $arrow03--dark; }
	&.c-tpl-btn03--white:before{ background-image: $arrow03--text; }
}

.is-arrow03--left-up{
	@extend .is-arrow03--left;
	&:before{
		transform: rotate(-90deg) translateY(1px);
	}
}

.is-arrow03--left-down{
	@extend .is-arrow03--left;
	&:before{
		transform: rotate(90deg) translateX(-2px);
	}
}