/*========================================
Link
-feedback form url
https://goo.gl/forms/MQQmWYIqnJu0hNrj2
=========================================*/

/*　c-tpl-link01
-----------------------------------------*/
.c-tpl-link01{
	&:after{
				content:"";
				display: inline-block;
				vertical-align: middle;
				width: 8px;
				height: 12px;
				background-image: $arrow01--textLink;
				background-size: 8px 12px;
				background-repeat: no-repeat;
				background-position: center center;
				margin-left: 8px;
				transform: translateY(-1px);
	}
}

.c-tpl-link01--down{
	@extend .c-tpl-link01;
	&:after{
		transform: rotate(90deg);
	}
}
.c-tpl-link01--up{
	@extend .c-tpl-link01;
	&:after{
		transform: rotate(-90deg);
	}
}
.c-tpl-link01--left{
	&:before{
				content:"";
				display: inline-block;
				vertical-align: middle;
				width: 8px;
				height: 12px;
				background-image: $arrow01--textLink;
				background-size: 8px 12px;
				background-repeat: no-repeat;
				background-position: center center;
				margin-right: 8px;
				transform: translateY(-1px);
	}
}
.c-tpl-link01--left-back{
	@extend .c-tpl-link01--left;
	&:before{
		transform: rotate(-180deg);
	}
}
.c-tpl-link01--left-down{
	@extend .c-tpl-link01--left;
	&:before{
		transform: rotate(90deg);
	}
}
.c-tpl-link01--left-up{
	@extend .c-tpl-link01--left;
	&:before{
		transform: rotate(-90deg);
	}
}


/*　c-tpl-link02
-----------------------------------------*/
.c-tpl-link02{
	&:after{
				content:"";
				display: inline-block;
				vertical-align: middle;
				width: 16px;
				height: 16px;
				background-image: $arrow02--textLink;
				background-size: 16px 16px;
				background-repeat: no-repeat;
				background-position: center center;
				margin-left: 6px;
				transform: translateY(-2px);
	}
}

.c-tpl-link02--down{
	@extend .c-tpl-link02;
	&:after{
		transform: rotate(90deg);
	}
}
.c-tpl-link02--up{
	@extend .c-tpl-link02;
	&:after{
		transform: rotate(-90deg);
	}
}
.c-tpl-link02--left{
	&:before{
				content:"";
				display: inline-block;
				vertical-align: middle;
				width: 16px;
				height: 16px;
				background-image: $arrow02--textLink;
				background-size: 16px 16px;
				background-repeat: no-repeat;
				background-position: center center;
				margin-right: 6px;
				transform: translateY(-2px) rotate(-180deg);
	}
}
.c-tpl-link02--left-back{
	@extend .c-tpl-link02--left;
	&:before{
		transform: rotate(-180deg);
	}
}
.c-tpl-link02--left-down{
	@extend .c-tpl-link02--left;
	&:before{
		transform: rotate(90deg);
	}
}
.c-tpl-link02--left-up{
	@extend .c-tpl-link02--left;
	&:before{
		transform: rotate(-90deg);
	}
}


/*　c-tpl-link03
-----------------------------------------*/
.c-tpl-link03{
	&:after{
				content:"";
				display: inline-block;
				vertical-align: middle;
				width: 16px;
				height: 16px;
				background-image: $arrow03--textLink;
				background-size: 16px 16px;
				background-repeat: no-repeat;
				background-position: center center;
				margin-left: 6px;
				transform: translateY(-2px);
	}
}

.c-tpl-link03--down{
	@extend .c-tpl-link03;
	&:after{
		transform: rotate(90deg);
	}
}
.c-tpl-link03--up{
	@extend .c-tpl-link03;
	&:after{
		transform: rotate(-90deg);
	}
}
.c-tpl-link03--left{
	&:before{
				content:"";
				display: inline-block;
				vertical-align: middle;
				width: 16px;
				height: 16px;
				background-image: $arrow03--textLink;
				background-size: 16px 16px;
				background-repeat: no-repeat;
				background-position: center center;
				margin-right: 6px;
				transform: translateY(-2px) rotate(-180deg);
	}
}
.c-tpl-link03--left-back{
	@extend .c-tpl-link03--left;
	&:before{
		transform: rotate(-180deg);
	}
}
.c-tpl-link03--left-down{
	@extend .c-tpl-link03--left;
	&:before{
		transform: rotate(90deg);
	}
}
.c-tpl-link03--left-up{
	@extend .c-tpl-link03--left;
	&:before{
		transform: rotate(-90deg);
	}
}
